.Cabeçalho{
	font-family: 'Righteous', cursive;
	font-size: 30px;
	word-spacing: 1.5px;
}
.titulos{
	font-family:sans-serif;
	font-size: 25px;
	text-align:center;
}
.Content{
	font-size: 20px;
	text-align: justify;
}
th{
	font-size: 20px;
	font-family: sans-serif;
}
html{
	background-image: url(background_3.jpg);
	background-size: cover;
}
table, th, td {
  border: 1px solid black;
  border-spacing: 15px;
  text-align: justify;
}
th{
	height: 30px;
	text-align: center;
}
.Menu{
	float:right;
	text-align: justify;
}
.Menu a{
	color:#fff;
	text-transform: uppercase;
	text-decoration: none;
	padding: 0 10px;
	font-size: 16px;
	letter-spacing: 1px;
	float: right;
	color:gray;
	text-align: justify;
}
.capa{
	text-align: center;
}